<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/randomBeers">RandomBeer</a></li>
        </ul>
    </nav>
</header>